name: whoami

on:
  pull_request_target

jobs:
  showme:
    runs-on: ubuntu-latest
    steps:
    - name: github
      env:
        CTX_GITHUB: ${{ toJson(github) }}
        CTX_EVENT: ${{ toJson(github.event) }}
      run: |
        echo $CTX_GITHUB
        echo $CTX_EVENT
    #- name: runner
    #  env:
    #    CTX_RUNNER: ${{ toJson(runner) }}
    #    MY_OS: ${{ runner.os }}
    #  run: |
    #    echo $CTX_RUNNER
    #    echo $MY_OS
    #- name: job
    #  env:
    #    CTX_JOB: ${{ toJson(job) }}
    #  run: echo $CTX_JOB
